*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: url("../images/Background-Image-AshrafiyahMosque-Taiz.png");
    background-size: auto;
    margin: 0;
    padding: 0;
}

nav {
    /* overflow: center; */
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/* ol {
    margin: 0px;
    padding: 10px 0px;
    text-align: center;
    list-style: none;
} */

.menu {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

nav a {
    background-color: wheat;
    width: 10px;
    display: black;
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    color: black;
    border: 2px solid white;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.lang-2 {
    background-color: green;
    color: white;
}

.en {
    background-color: green;
    color: white;
}

.lang {
    list-style: none;
    display: flex;
}

nav a:hover {
    background: green;
    color: white;
}

.home {
    background-color: green;
    color: white;
}

.page-image {
}

.page-image img {
    border: 3px solid wheat;
    display: block;
    width: 100%;
    margin: 0 auto;
}

h1 {
    color: green;
    text-align: center;
    font-size: 3rem;
}

#intro {
    color: blacke;
    font-family: cursive, Arial, Helvetica, sans-serif;
}

P {
    font-size: 2rem;
    margin: 3%;
}

ul {
    font-size: 2rem;
    font-style: italic;
    margin: 3%;
}

.points ul li {
    margin: 10px;
}

.Opening {
    font-size: 2rem;
    text-align: center;
    margin: 3%;
    font-family: cursive, Arial, Helvetica, sans-serif;
    text-decoration: underline;
}

.notice {
    text-indent: 25px;
    background-color: orange;
    font-size: 1.5rem;
    width: 550px;
    border: 5px;
    border-style: dashed;
    border-color: #fffd52;
    margin: 3%;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
}

::selection {
    color: green;
    background-color: white;
}

/* Mobiles */
@media screen and (max-width: 480px) {
}

/* Tablets, Ipads */
@media screen and (min-width: 480px) and (max-width: 1024px) {
    body {
        margin: 20px;
        font-size: 10px;
        padding: 10px;
    }
}

/* Laptops, Desktops */
@media screen and (min-width: 1024px) {
    body {
        margin: 20px;
        font-size: 40px;
        padding: 12px;
    }

    nav ol .menu li::first-letter {
        font-size: 150%;
    }
}
